.sp-batthern-0 { background-image: url('../img/patterns/batthern-0.png'); }
.sp-batthern-1 { background-image: url('../img/patterns/batthern-1.png'); }
.sp-broken_noise-0 { background-image: url('../img/patterns/broken_noise-0.png'); }
.sp-broken_noise-1 { background-image: url('../img/patterns/broken_noise-1.png'); }
.sp-candyhole-0 { background-image: url('../img/patterns/candyhole-0.png'); }
.sp-candyhole-1 { background-image: url('../img/patterns/candyhole-1.png'); }
.sp-carbon_fibre_big-0 { background-image: url('../img/patterns/carbon_fibre_big-0.png'); }
.sp-carbon_fibre_big-1 { background-image: url('../img/patterns/carbon_fibre_big-1.png'); }
.sp-classy_fabric-0 { background-image: url('../img/patterns/classy_fabric-0.png'); }
.sp-classy_fabric-1 { background-image: url('../img/patterns/classy_fabric-1.png'); }
.sp-connect-0 { background-image: url('../img/patterns/connect-0.png'); }
.sp-connect-1 { background-image: url('../img/patterns/connect-1.png'); }
.sp-dark_wood-0 { background-image: url('../img/patterns/dark_wood-0.png'); }
.sp-dark_wood-1 { background-image: url('../img/patterns/dark_wood-1.png'); }
.sp-denim-0 { background-image: url('../img/patterns/denim-0.png'); }
.sp-denim-1 { background-image: url('../img/patterns/denim-1.png'); }
.sp-diagmonds-0 { background-image: url('../img/patterns/diagmonds-0.png'); }
.sp-diagmonds-1 { background-image: url('../img/patterns/diagmonds-1.png'); }
.sp-fabric_plaid-0 { background-image: url('../img/patterns/fabric_plaid-0.png'); }
.sp-fabric_plaid-1 { background-image: url('../img/patterns/fabric_plaid-1.png'); }
.sp-foggy_birds-0 { background-image: url('../img/patterns/foggy_birds-0.png'); }
.sp-foggy_birds-1 { background-image: url('../img/patterns/foggy_birds-1.png'); }
.sp-foil-0 { background-image: url('../img/patterns/foil-0.png'); }
.sp-foil-1 { background-image: url('../img/patterns/foil-1.png'); }
.sp-graphy-0 { background-image: url('../img/patterns/graphy-0.png'); }
.sp-graphy-1 { background-image: url('../img/patterns/graphy-1.png'); }
.sp-gridme-0 { background-image: url('../img/patterns/gridme-0.png'); }
.sp-gridme-1 { background-image: url('../img/patterns/gridme-1.png'); }
.sp-grilled-0 { background-image: url('../img/patterns/grilled-0.png'); }
.sp-grilled-1 { background-image: url('../img/patterns/grilled-1.png'); }
.sp-groovepaper-0 { background-image: url('../img/patterns/groovepaper-0.png'); }
.sp-groovepaper-1 { background-image: url('../img/patterns/groovepaper-1.png'); }
.sp-gun_metal-0 { background-image: url('../img/patterns/gun_metal-0.png'); }
.sp-gun_metal-1 { background-image: url('../img/patterns/gun_metal-1.png'); }
.sp-hixs_pattern_evolution-0 { background-image: url('../img/patterns/hixs_pattern_evolution-0.png'); }
.sp-hixs_pattern_evolution-1 { background-image: url('../img/patterns/hixs_pattern_evolution-1.png'); }
.sp-irongrip-0 { background-image: url('../img/patterns/irongrip-0.png'); }
.sp-irongrip-1 { background-image: url('../img/patterns/irongrip-1.png'); }
.sp-knitted-netting-0 { background-image: url('../img/patterns/knitted-netting-0.png'); }
.sp-knitted-netting-1 { background-image: url('../img/patterns/knitted-netting-1.png'); }
.sp-light_grey_floral_motif-0 { background-image: url('../img/patterns/light_grey_floral_motif-0.png'); }
.sp-light_grey_floral_motif-1 { background-image: url('../img/patterns/light_grey_floral_motif-1.png'); }
.sp-lined_paper-0 { background-image: url('../img/patterns/lined_paper-0.png'); }
.sp-lined_paper-1 { background-image: url('../img/patterns/lined_paper-1.png'); }
.sp-merely_cubed-0 { background-image: url('../img/patterns/merely_cubed-0.png'); }
.sp-merely_cubed-1 { background-image: url('../img/patterns/merely_cubed-1.png'); }
.sp-old_wall-0 { background-image: url('../img/patterns/old_wall-0.png'); }
.sp-old_wall-1 { background-image: url('../img/patterns/old_wall-1.png'); }
.sp-pineapplecut-0 { background-image: url('../img/patterns/pineapplecut-0.png'); }
.sp-pineapplecut-1 { background-image: url('../img/patterns/pineapplecut-1.png'); }
.sp-plaid-0 { background-image: url('../img/patterns/plaid-0.png'); }
.sp-plaid-1 { background-image: url('../img/patterns/plaid-1.png'); }
.sp-polonez_car-0 { background-image: url('../img/patterns/polonez_car-0.png'); }
.sp-polonez_car-1 { background-image: url('../img/patterns/polonez_car-1.png'); }
.sp-px_by_Gre3g-0 { background-image: url('../img/patterns/px_by_Gre3g-0.png'); }
.sp-px_by_Gre3g-1 { background-image: url('../img/patterns/px_by_Gre3g-1.png'); }
.sp-ravenna-0 { background-image: url('../img/patterns/ravenna-0.png'); }
.sp-ravenna-1 { background-image: url('../img/patterns/ravenna-1.png'); }
.sp-ricepaper-0 { background-image: url('../img/patterns/ricepaper-0.png'); }
.sp-ricepaper-1 { background-image: url('../img/patterns/ricepaper-1.png'); }
.sp-ricepaper2-0 { background-image: url('../img/patterns/ricepaper2-0.png'); }
.sp-ricepaper2-1 { background-image: url('../img/patterns/ricepaper2-1.png'); }
.sp-small-crackle-bright-0 { background-image: url('../img/patterns/small-crackle-bright-0.png'); }
.sp-small-crackle-bright-1 { background-image: url('../img/patterns/small-crackle-bright-1.png'); }
.sp-soft_pad-0 { background-image: url('../img/patterns/soft_pad-0.png'); }
.sp-soft_pad-1 { background-image: url('../img/patterns/soft_pad-1.png'); }
.sp-starring-0 { background-image: url('../img/patterns/starring-0.png'); }
.sp-starring-1 { background-image: url('../img/patterns/starring-1.png'); }
.sp-struckaxiom-0 { background-image: url('../img/patterns/struckaxiom-0.png'); }
.sp-struckaxiom-1 { background-image: url('../img/patterns/struckaxiom-1.png'); }
.sp-texturetastic_gray-0 { background-image: url('../img/patterns/texturetastic_gray-0.png'); }
.sp-texturetastic_gray-1 { background-image: url('../img/patterns/texturetastic_gray-1.png'); }
.sp-white_brick_wall-0 { background-image: url('../img/patterns/white_brick_wall-0.png'); }
.sp-white_brick_wall-1 { background-image: url('../img/patterns/white_brick_wall-1.png'); }
.sp-white_paperboard-0 { background-image: url('../img/patterns/white_paperboard-0.png'); }
.sp-white_paperboard-1 { background-image: url('../img/patterns/white_paperboard-1.png'); }
.sp-white_plaster-0 { background-image: url('../img/patterns/white_plaster-0.png'); }
.sp-white_plaster-1 { background-image: url('../img/patterns/white_plaster-1.png'); }
.sp-whitediamond-0 { background-image: url('../img/patterns/whitediamond-0.png'); }
.sp-whitediamond-1 { background-image: url('../img/patterns/whitediamond-1.png'); }
.sp-wood_pattern-0 { background-image: url('../img/patterns/wood_pattern-0.png'); }
.sp-wood_pattern-1 { background-image: url('../img/patterns/wood_pattern-1.png'); }
.sp-45degreee_fabric-0 { background-image: url('../img/patterns/45degreee_fabric-0.png'); }
.sp-45degreee_fabric-1 { background-image: url('../img/patterns/45degreee_fabric-1.png'); }
.sp-60degree_gray-0 { background-image: url('../img/patterns/60degree_gray-0.png'); }
.sp-60degree_gray-1 { background-image: url('../img/patterns/60degree_gray-1.png'); }
.sp-always_grey-0 { background-image: url('../img/patterns/always_grey-0.png'); }
.sp-always_grey-1 { background-image: url('../img/patterns/always_grey-1.png'); }
.sp-beige_paper-0 { background-image: url('../img/patterns/beige_paper-0.png'); }
.sp-beige_paper-1 { background-image: url('../img/patterns/beige_paper-1.png'); }
.sp-black-Linen-0 { background-image: url('../img/patterns/black-Linen-0.png'); }
.sp-black-Linen-1 { background-image: url('../img/patterns/black-Linen-1.png'); }
.sp-black_denim-0 { background-image: url('../img/patterns/black_denim-0.png'); }
.sp-black_denim-1 { background-image: url('../img/patterns/black_denim-1.png'); }
.sp-black_paper-0 { background-image: url('../img/patterns/black_paper-0.png'); }
.sp-black_paper-1 { background-image: url('../img/patterns/black_paper-1.png'); }
.sp-bright_squares-0 { background-image: url('../img/patterns/bright_squares-0.png'); }
.sp-bright_squares-1 { background-image: url('../img/patterns/bright_squares-1.png'); }
.sp-brushed_alu-0 { background-image: url('../img/patterns/brushed_alu-0.png'); }
.sp-brushed_alu-1 { background-image: url('../img/patterns/brushed_alu-1.png'); }
.sp-brushed_alu_dark-0 { background-image: url('../img/patterns/brushed_alu_dark-0.png'); }
.sp-brushed_alu_dark-1 { background-image: url('../img/patterns/brushed_alu_dark-1.png'); }
.sp-carbon_fibre-0 { background-image: url('../img/patterns/carbon_fibre-0.png'); }
.sp-carbon_fibre-1 { background-image: url('../img/patterns/carbon_fibre-1.png'); }
.sp-concrete_wall-0 { background-image: url('../img/patterns/concrete_wall-0.png'); }
.sp-concrete_wall-1 { background-image: url('../img/patterns/concrete_wall-1.png'); }
.sp-concrete_wall_2-0 { background-image: url('../img/patterns/concrete_wall_2-0.png'); }
.sp-concrete_wall_2-1 { background-image: url('../img/patterns/concrete_wall_2-1.png'); }
.sp-concrete_wall_3-0 { background-image: url('../img/patterns/concrete_wall_3-0.png'); }
.sp-concrete_wall_3-1 { background-image: url('../img/patterns/concrete_wall_3-1.png'); }
.sp-cork_1-0 { background-image: url('../img/patterns/cork_1-0.png'); }
.sp-cork_1-1 { background-image: url('../img/patterns/cork_1-1.png'); }
.sp-crossed_stripes-0 { background-image: url('../img/patterns/crossed_stripes-0.png'); }
.sp-crossed_stripes-1 { background-image: url('../img/patterns/crossed_stripes-1.png'); }
.sp-double_lined-0 { background-image: url('../img/patterns/double_lined-0.png'); }
.sp-double_lined-1 { background-image: url('../img/patterns/double_lined-1.png'); }
.sp-exclusive_paper-0 { background-image: url('../img/patterns/exclusive_paper-0.png'); }
.sp-exclusive_paper-1 { background-image: url('../img/patterns/exclusive_paper-1.png'); }
.sp-fabric_1-0 { background-image: url('../img/patterns/fabric_1-0.png'); }
.sp-fabric_1-1 { background-image: url('../img/patterns/fabric_1-1.png'); }
.sp-gray_sand-0 { background-image: url('../img/patterns/gray_sand-0.png'); }
.sp-gray_sand-1 { background-image: url('../img/patterns/gray_sand-1.png'); }
.sp-green_gobbler-0 { background-image: url('../img/patterns/green_gobbler-0.png'); }
.sp-green_gobbler-1 { background-image: url('../img/patterns/green_gobbler-1.png'); }
.sp-grunge_wall-0 { background-image: url('../img/patterns/grunge_wall-0.png'); }
.sp-grunge_wall-1 { background-image: url('../img/patterns/grunge_wall-1.png'); }
.sp-handmadepaper-0 { background-image: url('../img/patterns/handmadepaper-0.png'); }
.sp-handmadepaper-1 { background-image: url('../img/patterns/handmadepaper-1.png'); }
.sp-leather_1-0 { background-image: url('../img/patterns/leather_1-0.png'); }
.sp-leather_1-1 { background-image: url('../img/patterns/leather_1-1.png'); }
.sp-light_honeycomb-0 { background-image: url('../img/patterns/light_honeycomb-0.png'); }
.sp-light_honeycomb-1 { background-image: url('../img/patterns/light_honeycomb-1.png'); }
.sp-little_pluses-0 { background-image: url('../img/patterns/little_pluses-0.png'); }
.sp-little_pluses-1 { background-image: url('../img/patterns/little_pluses-1.png'); }
.sp-micro_carbon-0 { background-image: url('../img/patterns/micro_carbon-0.png'); }
.sp-micro_carbon-1 { background-image: url('../img/patterns/micro_carbon-1.png'); }
.sp-noisy-0 { background-image: url('../img/patterns/noisy-0.png'); }
.sp-noisy-1 { background-image: url('../img/patterns/noisy-1.png'); }
.sp-old_mathematics-0 { background-image: url('../img/patterns/old_mathematics-0.png'); }
.sp-old_mathematics-1 { background-image: url('../img/patterns/old_mathematics-1.png'); }
.sp-padded-0 { background-image: url('../img/patterns/padded-0.png'); }
.sp-padded-1 { background-image: url('../img/patterns/padded-1.png'); }
.sp-paper_1-0 { background-image: url('../img/patterns/paper_1-0.png'); }
.sp-paper_1-1 { background-image: url('../img/patterns/paper_1-1.png'); }
.sp-paper_2-0 { background-image: url('../img/patterns/paper_2-0.png'); }
.sp-paper_2-1 { background-image: url('../img/patterns/paper_2-1.png'); }
.sp-paper_3-0 { background-image: url('../img/patterns/paper_3-0.png'); }
.sp-paper_3-1 { background-image: url('../img/patterns/paper_3-1.png'); }
.sp-pinstripe-0 { background-image: url('../img/patterns/pinstripe-0.png'); }
.sp-pinstripe-1 { background-image: url('../img/patterns/pinstripe-1.png'); }
.sp-random_grey_variations-0 { background-image: url('../img/patterns/random_grey_variations-0.png'); }
.sp-random_grey_variations-1 { background-image: url('../img/patterns/random_grey_variations-1.png'); }
.sp-rockywall-0 { background-image: url('../img/patterns/rockywall-0.png'); }
.sp-rockywall-1 { background-image: url('../img/patterns/rockywall-1.png'); }
.sp-smooth_wall-0 { background-image: url('../img/patterns/smooth_wall-0.png'); }
.sp-smooth_wall-1 { background-image: url('../img/patterns/smooth_wall-1.png'); }
.sp-soft_wallpaper-0 { background-image: url('../img/patterns/soft_wallpaper-0.png'); }
.sp-soft_wallpaper-1 { background-image: url('../img/patterns/soft_wallpaper-1.png'); }
.sp-subtle_freckles-0 { background-image: url('../img/patterns/subtle_freckles-0.png'); }
.sp-subtle_freckles-1 { background-image: url('../img/patterns/subtle_freckles-1.png'); }
.sp-subtle_orange_emboss-0 { background-image: url('../img/patterns/subtle_orange_emboss-0.png'); }
.sp-subtle_orange_emboss-1 { background-image: url('../img/patterns/subtle_orange_emboss-1.png'); }
.sp-vichy-0 { background-image: url('../img/patterns/vichy-0.png'); }
.sp-vichy-1 { background-image: url('../img/patterns/vichy-1.png'); }
.sp-wavecut-0 { background-image: url('../img/patterns/wavecut-0.png'); }
.sp-wavecut-1 { background-image: url('../img/patterns/wavecut-1.png'); }
.sp-white_carbon-0 { background-image: url('../img/patterns/white_carbon-0.png'); }
.sp-white_carbon-1 { background-image: url('../img/patterns/white_carbon-1.png'); }
.sp-white_sand-0 { background-image: url('../img/patterns/white_sand-0.png'); }
.sp-white_sand-1 { background-image: url('../img/patterns/white_sand-1.png'); }
.sp-wood_1-0 { background-image: url('../img/patterns/wood_1-0.png'); }
.sp-wood_1-1 { background-image: url('../img/patterns/wood_1-1.png'); }
.sp-bgnoise_lg-0 { background-image: url('../img/patterns/bgnoise_lg-0.png'); }
.sp-bgnoise_lg-1 { background-image: url('../img/patterns/bgnoise_lg-1.png'); }
.sp-black_linen_v2-0 { background-image: url('../img/patterns/black_linen_v2-0.png'); }
.sp-black_linen_v2-1 { background-image: url('../img/patterns/black_linen_v2-1.png'); }
.sp-black_scales-0 { background-image: url('../img/patterns/black_scales-0.png'); }
.sp-black_scales-1 { background-image: url('../img/patterns/black_scales-1.png'); }
.sp-carbon_fibre_v2-0 { background-image: url('../img/patterns/carbon_fibre_v2-0.png'); }
.sp-carbon_fibre_v2-1 { background-image: url('../img/patterns/carbon_fibre_v2-1.png'); }
.sp-cardboard-0 { background-image: url('../img/patterns/cardboard-0.png'); }
.sp-cardboard-1 { background-image: url('../img/patterns/cardboard-1.png'); }
.sp-circles-0 { background-image: url('../img/patterns/circles-0.png'); }
.sp-circles-1 { background-image: url('../img/patterns/circles-1.png'); }
.sp-crissXcross-0 { background-image: url('../img/patterns/crissXcross-0.png'); }
.sp-crissXcross-1 { background-image: url('../img/patterns/crissXcross-1.png'); }
.sp-crosses-0 { background-image: url('../img/patterns/crosses-0.png'); }
.sp-crosses-1 { background-image: url('../img/patterns/crosses-1.png'); }
.sp-cubes-0 { background-image: url('../img/patterns/cubes-0.png'); }
.sp-cubes-1 { background-image: url('../img/patterns/cubes-1.png'); }
.sp-dark_brick_wall-0 { background-image: url('../img/patterns/dark_brick_wall-0.png'); }
.sp-dark_brick_wall-1 { background-image: url('../img/patterns/dark_brick_wall-1.png'); }
.sp-dark_circles-0 { background-image: url('../img/patterns/dark_circles-0.png'); }
.sp-dark_circles-1 { background-image: url('../img/patterns/dark_circles-1.png'); }
.sp-diagonal-noise-0 { background-image: url('../img/patterns/diagonal-noise-0.png'); }
.sp-diagonal-noise-1 { background-image: url('../img/patterns/diagonal-noise-1.png'); }
.sp-diamonds-0 { background-image: url('../img/patterns/diamonds-0.png'); }
.sp-diamonds-1 { background-image: url('../img/patterns/diamonds-1.png'); }
.sp-elastoplast-0 { background-image: url('../img/patterns/elastoplast-0.png'); }
.sp-elastoplast-1 { background-image: url('../img/patterns/elastoplast-1.png'); }
.sp-elegant_grid-0 { background-image: url('../img/patterns/elegant_grid-0.png'); }
.sp-elegant_grid-1 { background-image: url('../img/patterns/elegant_grid-1.png'); }
.sp-fancy_deboss-0 { background-image: url('../img/patterns/fancy_deboss-0.png'); }
.sp-fancy_deboss-1 { background-image: url('../img/patterns/fancy_deboss-1.png'); }
.sp-felt-0 { background-image: url('../img/patterns/felt-0.png'); }
.sp-felt-1 { background-image: url('../img/patterns/felt-1.png'); }
.sp-flowers-0 { background-image: url('../img/patterns/flowers-0.png'); }
.sp-flowers-1 { background-image: url('../img/patterns/flowers-1.png'); }
.sp-gold_scale-0 { background-image: url('../img/patterns/gold_scale-0.png'); }
.sp-gold_scale-1 { background-image: url('../img/patterns/gold_scale-1.png'); }
.sp-green_dust_scratch-0 { background-image: url('../img/patterns/green_dust_scratch-0.png'); }
.sp-green_dust_scratch-1 { background-image: url('../img/patterns/green_dust_scratch-1.png'); }
.sp-inflicted-0 { background-image: url('../img/patterns/inflicted-0.png'); }
.sp-inflicted-1 { background-image: url('../img/patterns/inflicted-1.png'); }
.sp-light_alu-0 { background-image: url('../img/patterns/light_alu-0.png'); }
.sp-light_alu-1 { background-image: url('../img/patterns/light_alu-1.png'); }
.sp-light_checkered_tiles-0 { background-image: url('../img/patterns/light_checkered_tiles-0.png'); }
.sp-light_checkered_tiles-1 { background-image: url('../img/patterns/light_checkered_tiles-1.png'); }
.sp-littleknobs-0 { background-image: url('../img/patterns/littleknobs-0.png'); }
.sp-littleknobs-1 { background-image: url('../img/patterns/littleknobs-1.png'); }
.sp-mirrored_squares-0 { background-image: url('../img/patterns/mirrored_squares-0.png'); }
.sp-mirrored_squares-1 { background-image: url('../img/patterns/mirrored_squares-1.png'); }
.sp-noise_pattern_with_crosslines-0 { background-image: url('../img/patterns/noise_pattern_with_crosslines-0.png'); }
.sp-noise_pattern_with_crosslines-1 { background-image: url('../img/patterns/noise_pattern_with_crosslines-1.png'); }
.sp-paven-0 { background-image: url('../img/patterns/paven-0.png'); }
.sp-paven-1 { background-image: url('../img/patterns/paven-1.png'); }
.sp-polaroid-0 { background-image: url('../img/patterns/polaroid-0.png'); }
.sp-polaroid-1 { background-image: url('../img/patterns/polaroid-1.png'); }
.sp-pool_table-0 { background-image: url('../img/patterns/pool_table-0.png'); }
.sp-pool_table-1 { background-image: url('../img/patterns/pool_table-1.png'); }
.sp-project_papper-0 { background-image: url('../img/patterns/project_papper-0.png'); }
.sp-project_papper-1 { background-image: url('../img/patterns/project_papper-1.png'); }
.sp-real_cf-0 { background-image: url('../img/patterns/real_cf-0.png'); }
.sp-real_cf-1 { background-image: url('../img/patterns/real_cf-1.png'); }
.sp-roughcloth-0 { background-image: url('../img/patterns/roughcloth-0.png'); }
.sp-roughcloth-1 { background-image: url('../img/patterns/roughcloth-1.png'); }
.sp-rubber_grip-0 { background-image: url('../img/patterns/rubber_grip-0.png'); }
.sp-rubber_grip-1 { background-image: url('../img/patterns/rubber_grip-1.png'); }
.sp-silver_scales-0 { background-image: url('../img/patterns/silver_scales-0.png'); }
.sp-silver_scales-1 { background-image: url('../img/patterns/silver_scales-1.png'); }
.sp-small_tiles-0 { background-image: url('../img/patterns/small_tiles-0.png'); }
.sp-small_tiles-1 { background-image: url('../img/patterns/small_tiles-1.png'); }
.sp-soft_circle_scales-0 { background-image: url('../img/patterns/soft_circle_scales-0.png'); }
.sp-soft_circle_scales-1 { background-image: url('../img/patterns/soft_circle_scales-1.png'); }
.sp-squares-0 { background-image: url('../img/patterns/squares-0.png'); }
.sp-squares-1 { background-image: url('../img/patterns/squares-1.png'); }
.sp-stucco-0 { background-image: url('../img/patterns/stucco-0.png'); }
.sp-stucco-1 { background-image: url('../img/patterns/stucco-1.png'); }
.sp-triangles-0 { background-image: url('../img/patterns/triangles-0.png'); }
.sp-triangles-1 { background-image: url('../img/patterns/triangles-1.png'); }
.sp-washi-0 { background-image: url('../img/patterns/washi-0.png'); }
.sp-washi-1 { background-image: url('../img/patterns/washi-1.png'); }
.sp-white_texture-0 { background-image: url('../img/patterns/white_texture-0.png'); }
.sp-white_texture-1 { background-image: url('../img/patterns/white_texture-1.png'); }
.sp-whitey-0 { background-image: url('../img/patterns/whitey-0.png'); }
.sp-whitey-1 { background-image: url('../img/patterns/whitey-1.png'); }
.sp-woven-0 { background-image: url('../img/patterns/woven-0.png'); }
.sp-woven-1 { background-image: url('../img/patterns/woven-1.png'); }
.sp-xv-0 { background-image: url('../img/patterns/xv-0.png'); }
.sp-xv-1 { background-image: url('../img/patterns/xv-1.png'); }
.sp-pattern_017-0 { background-image: url('../img/patterns/pattern_017-0.png'); }
.sp-pattern_017-1 { background-image: url('../img/patterns/pattern_017-1.png'); }
.sp-pattern_036-0 { background-image: url('../img/patterns/pattern_036-0.png'); }
.sp-pattern_036-1 { background-image: url('../img/patterns/pattern_036-1.png'); }
.sp-pattern_062-0 { background-image: url('../img/patterns/pattern_062-0.png'); }
.sp-pattern_062-1 { background-image: url('../img/patterns/pattern_062-1.png'); }
.sp-pattern_084-0 { background-image: url('../img/patterns/pattern_084-0.png'); }
.sp-pattern_084-1 { background-image: url('../img/patterns/pattern_084-1.png'); }
.sp-pattern_124-0 { background-image: url('../img/patterns/pattern_124-0.png'); }
.sp-pattern_124-1 { background-image: url('../img/patterns/pattern_124-1.png'); }
.sp-pattern_128-0 { background-image: url('../img/patterns/pattern_128-0.png'); }
.sp-pattern_128-1 { background-image: url('../img/patterns/pattern_128-1.png'); }
.sp-pattern_140-0 { background-image: url('../img/patterns/pattern_140-0.png'); }
.sp-pattern_140-1 { background-image: url('../img/patterns/pattern_140-1.png'); }
